*.test
/gostruct2sqlgenerator
example/entity_user_serial_stub.go
example/entity_user_stub.go
example/serial_user.pb.go
example/serial_user.proto
example/service_user_other_stub.go
example/service_user_stub.go
example/storage_user_db_stub.go
example/storage_user_lru_cache_stub.go
example/storage_user_mc_stub.go
example/storage_user_proxy_stub.go
example/utils_user_stub.go
example2/entity_user2_serial_stub.go
example2/entity_user2_stub.go
example2/serial_user2.pb.go
example2/serial_user2.proto
example2/service_user2_other_stub.go
example2/service_user2_stub.go
example2/storage_user2_db_stub.go
example2/storage_user2_lru_cache_stub.go
example2/storage_user2_mc_stub.go
example2/storage_user2_proxy_stub.go
example2/utils_user2_stub.go
example3/entity_user3_serial_stub.go
example3/entity_user3_stub.go
example3/serial_user3.pb.go
example3/serial_user3.proto
example3/service_user3_other_stub.go
example3/service_user3_stub.go
example3/storage_user3_db_stub.go
example3/storage_user3_lru_cache_stub.go
example3/storage_user3_mc_stub.go
example3/storage_user3_proxy_stub.go
example3/utils_user3_stub.go
example4/entity_user4_serial_stub.go
example4/entity_user4_stub.go
example4/serial_user4.pb.go
example4/serial_user4.proto
example4/service_user4_other_stub.go
example4/service_user4_stub.go
example4/storage_user4_db_stub.go
example4/storage_user4_lru_cache_stub.go
example4/storage_user4_mc_stub.go
example4/storage_user4_proxy_stub.go
example4/utils_user4_stub.go
example/build_proto.sh
example/user_create_table.sql
example2/build_proto.sh
example2/user_create_table.sql
example3/build_proto.sh
example3/user_create_table.sql
example4/build_proto.sh
example4/user_create_table.sql
